



<form>
    <h2>REGISTRARME</h2>
<div>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" >
</div>

<div>


    <label for="Apellido">Apellido</label>
    <input type="text" id="apellido" >
</div>

<div>

    <label for="email">Email</label>
    <input type="email" id="email" >
</div>
<div>

    <label for="contrasena">Contraseña</label>
    <input type="password" id="contraseña" >
</div>
<div>

    <label for="contrasena">Repetir Contraseña</label>
    <input type="password" id="RepetirContraseña" >
</div>
    <button type="submit" (click)="Alert()">REGISTRARME</button>
</form>