@for (task of TareasService.tareas; track task.id     ) {

    
 @if(task.state) {
  <div id="description"> 


    <h2 [contentEditable]=(edit)   > {{task.description}}</h2>
   <div>

    
    <button (click)="TareasService.eliminarTarea(task.id)">Eliminar</button>
    <button (click)="TareasService.editarTarea(task.id,Flod)">Editar</button>
    <button (click)="TareasService.completarTarea(task.id)">Completar</button>


   </div>
    

 </div>  
 } @else {

  <div id="description"> 


    <h2 [contentEditable]=(edit)   > {{task.description}}</h2>
   <div>

    
    <button (click)="TareasService.eliminarTarea(task.id)">Eliminar</button>
    <button (click)="TareasService.editarTarea(task.id,Flod)">Editar</button>
    <button (click)="TareasService.completarTarea(task.id)">Completado</button>


   </div>
    

 </div>  




 }



    
}@empty {
    <div> No hay tareas </div>}