div{
  background-color:#BDBDBD;
  width: 300px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  
  

}
footer{
  
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 100%;
  margin: 5%;
  
  
  
}
h2{
  margin: 10px;
  color: #fff;
  height: 15%;
}
p{
 padding: 5%;
 height: 70%;
 width: 100%;
overflow: auto;

}
svg{
  overflow: visible;
  scale:  0.1;
  margin: 0%;
  display: flex;
  justify-content: center;
}  
#HEAD{
  height: 20%;
  overflow: auto;

}
#boton-x:hover{
      background-color: #FF0000;
     


    }

    #cheque:hover{
      background-color: #009d2f;
    }
 
   #ordenar{
      display: inline-block;
      
   }

   #completo{
    background-color:#BDBDBD;
    width: 300px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: #009d2f 2px solid;

   }
   #completos{
    background-color: #009d2f;
    color: white;
   
   }